:root{
    --text-color: hsl(240, 38%, 20%);
    --position-color: hsl(240, 18%, 77%);
}
*,::after,::before{
    box-sizing: border-box;
}
body{
    font-family: 'Inter', 'sans serif';
    padding: 0;
    margin: 0;
    height: 100vh;
    background: url(./images/pattern-curve.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y:98%;
    overflow: hidden;
}
.container{
    width:70%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* SLIDER SECTION */
.slider{
    position: relative;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-size-image{
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./images/pattern-bg.svg);
    background-size: 99%;
    background-repeat: no-repeat;
    background-position-x: 3px;
}
.frame-wrapper{
   box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.363);
}
.frame{
    width: 16rem;
    height: 16rem;
    overflow: hidden;
    position: relative;
}
.slide-show{
    float: left;
    width: 200%;
    position: absolute;
    left: 0;
}
.slider-slow{
    transition: left 0.7s ease-in-out;
}
.slide-left{
    left: -256px;
}
.slide-show img{
    width: 16rem;
    height: 16rem;
}
.item-1{
    float: left;
}
.icons{
    width: 6rem;
    position: absolute;
    bottom: 0;
    background-color:#fff;
    padding: 0.9rem 1.3rem;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.363);
}
.icons a{
    font-size: 1.2rem;
    color: #999;
}
.icons a:hover{
    color: black;
}
/* TESTIMONIALS */
.testi{
    display: none;
    text-align: center;
}
.active{
    display: block;
}
.testimonials{
    margin-top: 1.5rem;
    line-height: 1.5;
}
.quote{
    font-size: 1.2rem;
}
.quote , .heading{
    color: var(--text-color);
}
.heading{
    font-size: 1.4rem;
    margin: 0;
}
.post{
    color: var(--position-color);
    margin: 0;
}
@media(max-width:380px){ /*iphone 6/7/8*/
    .quote{
        font-size: 1rem;
    }
    .heading{
        font-size: 1.1rem;
        margin: 0;
    }
    .testimonials{
        margin-top: 1.3rem;
        line-height: 1.3;
    }
    .icons a{
        font-size: 1.2rem;
    }
    .slide-show img{
        width: 15rem;
        height: 15rem;
    }
    .frame{
        width: 15rem;
        height: 15rem;
    }
    .slide-left{
        left: -240px;
    }
}
@media(min-width:700px){ /* ipad */
    .container{
        height: 100vh;
        transform: translateY(-3%);
    }
}
.box-shadow{
    width: 0;
    height: 0;
}
@media(min-width:1030px){
    body{
        background-size: 55%;
    }
    .container{
        height: 100vh;
        flex-direction: row;
        width: 60%;
        transform: translateY(-10%);
    }
    .slider{
        order: 2;
    }
    .testimonials{
        order: 1;
    }
    .box-shadow{
        min-width:110%;
        height: 500px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.294);
        position: absolute;
    }
}